body {
    background: #E8EBF3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: antiquewhite;
}

.form-question {
    --background: #ffffff;
    --text: #414856;
    --radio: #7C96B2;
    --radio-checked: #4F29F0;
    --radio-size: 25px;
    --max-width: 30px;
    --border-radius: 10px;
    background: var(--background);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 20px 32px;
    grid-template-columns: auto var(--radio-size);
    margin: 12px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.form-question input:focus {
    background: #eaeaea;
}

.form-question input,
textarea {
    width: auto;
}

.form-question textarea {
    height: 60px;
    width: 120px;
}

.form-question select {
    width: auto;
}

.form-question input[type=checkbox] {
    width: 10px;
}

.form-question input[type=submit] {
    width: auto;
    padding: 10px;
}

.form-question fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

.form-question label {
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

/*INTITULE QUESTION*/
/*bloc*/
#intituleQuestion {
    background-color: #E8EBF3;
    padding: 6px;
    margin-bottom: 2em;
    border-radius: 12px 26px;
    margin-left: -1em;
}
/*libelle*/
#intituleQuestion b{
    height: 2em;
    color: #181a24;
    margin-left: 1em;
    margin-bottom: 1em;
}
/*auteur*/
#intituleQuestion p{
    color: #7C96B2;
    margin-left: 2em;
}
/* PROPOSITIONS*/
/*containerAllPropositions*/
.containerAllPropositions{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
/*blocProposition*/
#blocProposition {
    display: flex;
    padding: 1em;
    background-color:#E8EBF3;
    margin: 2em, 1em;
}